.example-spacer {
    flex: 1 1 auto;
  }

  .tablecontent{
    padding-top: 20px;
    padding-left: 10px;
    margin: 0 auto;
    padding-right: 10px;

    mat-form-field{
        width: 100%;
    }
  }
  .action{
    display: flex;
    gap:5px;
  }
  .content{
    --background:#3c383d;

  }
  .mat_toolbar{
    background-color: #3b1f47;
}

.namediv .ng-invalid.ng-touched{
    border: 1px solid red;
}
.emaildiv .ng-invalid.ng-touched{
    border: 1px solid red;
}
.passdiv .ng-invalid.ng-touched{
    border: 1px solid red;
}