<section>
    <div class="signupSection">

        <form #signupForm='ngForm' (ngSubmit)="onSubmit(signupForm)">

            <div class="signup_page">
                <div class="orgname">
                    <div class="labelStyle">
                        <label  for="organization_name"> Organization Name</label>
                    </div>
                    <input  class="org_name" type="text" placeholder="Enter Organization Name" id="organization_name"
                        name="org_name" [(ngModel)]="org_name" required
                        #organization_name="ngModel">
                        <mat-icon class="passwordhide">account_circle</mat-icon>
                        <div  *ngIf="organization_name.invalid && (organization_name.dirty ||organization_name.touched)" class="alert">
                            <span class="error" *ngIf="organization_name.errors?.['required']">Organization Name is required</span>
                        </div>
                </div>
               
                <div class="orgpassword">
                    <div class="labelStyle">
                        <label  for="organization_password"> Password</label>
                    </div>
                    <input class="org_pass" [type]="hide ? 'password' : 'text'" placeholder="Enter Password"
                        id="organization_password" name="org_password" [(ngModel)]="org_password" required minlength="8" #organization_password="ngModel">
                        <mat-icon class="passwordhide" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <div  *ngIf="organization_password.invalid && (organization_password.dirty ||organization_password.touched)" class="alert">
                            <span class="error" *ngIf="organization_password.errors?.['required']">Organization Password is required</span>
                            <span class="error" *ngIf="organization_password.errors?.['minlength']">
                                Password must be at least 8 characters long.
                            </span>
                        </div>
                </div>
                <!-- <div class="terms_and_condition">
                    <mat-checkbox class="termsandcond" [(ngModel)]="terms_and_condition" ></mat-checkbox>
                    <div>By signing up for payil, you agree to our <span class="terms">Terms of use</span> and <span class="policy">Privacy policy</span></div>
                </div> -->
                <div class="terms_and_condition">
                    <input class="form-check-input" type="checkbox" id="exampleCheck" name="exampleCheck" [(ngModel)]="terms_and_condition" (ngModelChange)="onCheckboxChange()">
                    <label class="form-check-label" for="exampleCheck">By signing up for payil, you agree to our <span class="terms">Terms of use</span> and <span class="policy">Privacy policy</span></label>
                  </div>
                <div class="signupbtn">
                    <button [ngClass]="{'enableT_C': !terms_and_condition}" class="sign_btn" type="submit" [disabled]="!signupForm.valid">Sign Up</button>

                </div>
                <div class="signup">
                    <span>Do have an account? &nbsp;<span class="signuppage" (click)="login()">
                        Login</span></span>
                </div>
            </div>


        </form> 


    </div>
</section>