<div mat-dialog-title>
    <h1>Workspace Form</h1>
</div>
<form [formGroup]="workspaceForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Workspace name</mat-label>
            <input matInput type="text" placeholder="Ex. Technical" formControlName="workspace">
        </mat-form-field>
       
    </div>

</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data?"Update":"Save"}}</button>
</div>
</form>