.header{
    background: #3b393a;
    color: white;
}

.org_title{
    float: right;
    padding: 10px 30px 0px 30px;
    border: 2px solid lightgray;
    border-radius: 8px;
    margin: 10px 10px;
}
