
<ion-header>
    <ion-toolbar>
        <app-header-breadcrums></app-header-breadcrums>
    </ion-toolbar>
</ion-header>
<ion-content class="content">
    
    <mat-toolbar class="mat_toolbar">
        <span>Dashboard</span>
        <span class="example-spacer"></span>
        
      </mat-toolbar>

   <div class="dashboard">
    <div class="dashboardcontent">
        
        <ion-card class="card" >
            <ion-avatar class="avatar">
                <ion-img src="./../../../assets/people.jpg"></ion-img>
            </ion-avatar>
            <span>Users</span>
        </ion-card>
        <ion-card class="card">
            <ion-avatar class="avatar">
                <ion-img src="./../../../assets/workspace.png"></ion-img>
            </ion-avatar>
            <span>Workspace</span>
        </ion-card>
        <ion-card class="card">
            <ion-avatar class="avatar">
                <ion-img src="./../../../assets/documents.png"></ion-img>
            </ion-avatar>
            <span>Documents</span>
        </ion-card>
    </div>
   </div>
</ion-content>

