
<ion-header>
    <ion-toolbar>
        <app-header-breadcrums></app-header-breadcrums>
    </ion-toolbar>
</ion-header>
<ion-content>
    
   <div class="dashboard">
    <div class="dashboardcontent">
        <ion-card >
            <ion-img src="./../../../assets/people.jpg"></ion-img>
        </ion-card>
        <ion-card>
            <ion-img src="./../../../assets/workspace.png"></ion-img>
        </ion-card>
        <ion-card>
            <ion-img src="./../../../assets/documents.png"></ion-img>
        </ion-card>
    </div>
   </div>
</ion-content>

